# **ИНВЕСТИЦИИ**
I уровень сложности

In [2]:
import pandas as pd
data = pd.read_csv('./YNDX_160101_161231.csv') #Импортируем pandas и загружаем таблицу

In [3]:
data.head() #посмотрим на данные

     <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0  20160104  100100  1148.9  1148.9  1148.9   1148.9    0.0
1  20160104  100200  1148.9  1148.9  1148.9   1148.9   50.0
2  20160104  100300  1149.0  1149.0  1149.0   1149.0   33.0
3  20160104  100400  1149.0  1149.0  1149.0   1149.0    4.0
4  20160104  100500  1153.0  1153.0  1153.0   1153.0    0.0

In [4]:
data.loc[data['<HIGH>'].idxmax()] #Посмотрим на максимум в столбце <HIGH>

<DATE>     20160728.0
<TIME>       163400.0
<OPEN>         1536.5
<HIGH>         1543.0
<LOW>          1530.0
<CLOSE>        1534.0
<VOL>          5952.0
Name: 73993, dtype: float64

In [5]:
def transaction(data, k_old, max):
  """ Функция, которая ищет максимальную прибыль в
      операции покупка-продажа
  """
  max = 0
  k = data[k_old+1:]['<HIGH>'].argmax()
  if k_old < len(data)-1:
    for i in range(k_old+1, k):
      if data.loc[i, '<VOL>'] != 0:
        buy = data.loc[i, '<LOW>'] * data.loc[i, '<VOL>']
        if data.loc[k, '<HIGH>'] * data.loc[i, '<VOL>'] - buy > max:
          max = data.loc[k, '<HIGH>'] * data.loc[i, '<VOL>'] - buy
          data_buy = data.loc[i, '<DATE>']
          data_cell = data.loc[k, '<DATE>']
          return (max, k, data_buy, data_cell)
  else:
    return False

In [6]:
k_old = -1
max = 0
while transaction(data, k_old, max):  #Рекурсивный вызов функции в цикле
  ans = transaction(data, k_old, max)
  max, k_old, data_buy, data_cell = ans[0], ans[1], ans[2], ans[3]
print(ans)

(19704.999999999993, 73993, 20160104, 20160728)

In [7]:
print("Максимальная прибыль равняется:", max)
print("Дата покупки акций:", data_buy)
print("Дата продажи акций:", data_cell)

Максимальная прибыль равняется: 19704.999999999993
Дата покупки акций: 20160104
Дата продажи акций: 20160728